export url="localhost"

export port="50051"

export username="admin"
export password="admin"

export token="asdfasfdsafasdfasdfsdgwertgdsafgadfgads"

export testLocation="com.github.grpc/src/main/k6/SmokeTestFramework"