export url="localhost"
export port="50055"
export username="admin"
export password="admin"
export token="asdfasfdsafasdfasdfsdgwertgdsafgadfgads"
export SmokeTestFrameworkParallel="com.github.grpc/src/main/k6/SmokeTestFrameworkParallel"
export SmokeTestFramework="com.github.grpc/src/main/k6/SmokeTestFramework"
export SmokeTestFrameworkParallelQuitFast="com.github.grpc/src/main/k6/SmokeTestFrameworkParallelQuitFast"

# Windows
#set url="localhost"
#set port="50055"
#set username="admin"
#set password="admin"
#set token="asdfasfdsafasdfasdfsdgwertgdsafgadfgads"
#set SmokeTestFrameworkParallel="com.github.grpc/src/main/k6/SmokeTestFrameworkParallel"
#set SmokeTestFramework="com.github.grpc/src/main/k6/SmokeTestFramework"
#set SmokeTestFrameworkParallelQuitFast="com.github.grpc/src/main/k6/SmokeTestFrameworkParallelQuitFast"
