export url="localhost"
export port="50055"
export username="admin"
export password="admin"
export token="asdfasfdsafasdfasdfsdgwertgdsafgadfgads"
export SmokeTestFrameworkParallel="com.github.grpc/src/main/k6/SmokeTestFrameworkParallel"
export SmokeTestFramework="com.github.grpc/src/main/k6/SmokeTestFramework"
export SmokeTestFrameworkParallelQuitFast="com.github.grpc/src/main/k6/SmokeTestFrameworkParallelQuitFast"

# Windows
# if you use git bash for windows and go the path and run the k6 test you can just cut and paste these variables in
# place
